.loginRegSwitch {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

body,
.loginContainer,
.loginContainer form,
.registerContainer form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.loginRegSwitch div {
    margin: 2vw;
    font-size: xx-large;
    background-color: #0866ff;
    color: white;
    padding: 30px;
}

.registerContainer {
    display: none;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

/**Homepage**/
.homeContainer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.profileContainer {
    width: 90vw;
    height: 10vh;
    background-color: magenta;
}

.profileContainer h1 {
    text-align: center;
}

.contentContainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    width: 90vw;

}

.friendsContainer {
    flex: 1;
    background-color: orange;
    height: 90vh;

}

.feed {
    flex: 4;
    background-color: pink;
    height: 90vh;

}

.addPostPopup {
    display: none;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    width: 40vw;
    height: 80vh;
    background-color: orange;

    position: fixed;
    top: 10vh;
    left: 30vw;
}

.addPostPopup form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

.addPostPopup textarea {
    resize: none;
    width: 30vw;
    height: 30vh;
}

.closeButton {
    position: fixed;
    top: 11vh;
    right: 31vw;

    cursor: pointer;
}